{% extends 'layout.html' %}

{% block body %}
<style type="text/css">
    body{
        background-image: url('static/css/hpme.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }    
</style> 
<body>
  <div class="jumbotron text-center">
    <h1>Welcome to DBMS</h1>
    <p class="lead">This is DBMS project</p>
    </div>
     <h2 style="padding-left: 350px">Apartment Management System</h2>
    <img src="https://media.equityapartments.com/images/c_crop,x_0,y_0,w_1920,h_1080/c_fill,w_1920,h_1080/q_80/4206-28/the-kelvin-apartments-exterior.jpg" style="width: 100%">
 
</body>
{% endblock %}
